div.column {
  margin: 5%;
}

div.column1 {
  width: 18%;
  float: left;
  margin: 1%;
  background-color: red;
}

div.column2 {
  width: 18%;
  float: left;
  margin: 1%;
  background-color: orange;
}

div.column3 {
  width: 18%;
  float: left;
  margin: 1%;
  background-color: gold;
}

div.column4 {
  width: 18%;
  float: left;
  margin: 1%;
  background-color: lightgreen;
}

div.column5 {
  width: 18%;
  float: left;
  margin: 1%;
  background-color: lightblue;
}

div.columnTest div {
  width: 18%;
  float: left;
  margin: 1%;
  background-color: lightblue;
}

div#backgroundBlue {
  background-color: blue;
}

div.backgroundRed {
  background-color: red;
}


div.column1 img {
  width: 100%;
}

div.column2 img {
  width: 100%;
}

div.column3 img {
  width: 100%;
}

div.column4 img {
  width: 100%;
}

div.column5 img {
  width: 100%;
}

h2 {
  text-align: center;
}

p {
  text-align: justify;
  padding: 0px 10px 0px 10px;
}
